{% extends "default/index.html.twig" %}

{% block title %}AppBundle:User:show{% endblock %}

{% block body %}
<h1>Welcome to the User:show page</h1>

{{users|length}}
  <table class="table table-bordered">
  <thead>

    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th>Activity</th>
      <th>Role</th>
    </tr>

  </thead>
  {%for user in users%}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isActive}}</td>
      <td>{{user.role}}</td>
    </tr>
  {%endfor%}
  </table>

</div>

{% endblock %}
