{% extends "default/index.html.twig" %}

{% block title %}AppBundle:User:add{% endblock %}

{% block body %}
<h1>Welcome to the User:add page</h1>

<div class="container">
<div class="row">
<div class="col-md-6">

{{ form_start(form) }}
{{ form_row(form.username, {'attr': {'autofocus' : ''}}) }}
{{ form_row(form.password) }}
{{ form_row(form.email) }}
{{ form_row(form.role) }}

<input type="submit" value="Create" class="btn btn-default" />
{{ form_end(form) }}

</div>
</div>
</div>

{% endblock %}
